<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OMM IPL</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Code Carnival">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add site Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/png">

    <!-- CSS
    ========================= -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Metal+Mania&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/icofont.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <style>
        .bg-mobile-nav {
            background-color: #ffffff7d;
        }
        .mobile-nav{
            position: relative;
        }
        img.moicon-img {
    position: absolute;
    left: 6px;
    top: 5px;
}
        img.moicon-img.win {
    left: 0px;
}
        img.moicon-img.wallet {
    left: 0px;
    top: -2px;
}
    </style>
</head>

<body class="body__bg" data-bgimg="../assets/img/bg/body-bg.jpg">

    <!--header area start-->
    <header class="header_section header_transparent sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_header d-flex justify-content-between align-items-center">
                        <div class="header_logo">
                            <a class="sticky_none" href="/Home/index"><img aria-label="logo" width="200" height="79" src="~/assets/img/logo/logo.jpg" alt=""></a>
                        </div>
                        <!--main menu start-->
                        <div class="main_menu d-none d-lg-block">
                            <nav>
                                <ul class="d-flex">
                                    <li><a href="@Url.Action("index","Home")">Home</a></li>
                                    <li><a href="/Home/about">About</a></li>
                                    <li><a href="/Home/Login">Game</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact</a></li>
                                    <li><a href="@Url.Action("Login","Home")">Login</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--main menu end-->
                        <div class="header_right_sidebar d-flex align-items-center ">
                            <div class="sing_up_btn d-none d-sm-block">
                                <a class="btn btn-link" href="@Url.Action("Registration","Home")">SIGN UP <img width="15" height="15" src="~/assets/img/icon/arrrow-icon2.jpg" alt=""> </a>
                            </div>
                            <div class="canvas_open">
                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><i class="icofont-navigation-menu"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->
    <!--offcanvas menu area start-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header justify-content-end">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="offcanvas_main_menu">
                <li class="menu-item-has-children active">
                    <a href="@Url.Action("index","Home")">Home</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="/Home/about">About</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="all-game.html">Game</a>
                </li>
                <li class="menu-item-has-children">
                   <a href="@Url.Action("ContactUs","Home")">Contact</a>
                </li>
                <li class="menu-item-has-children">
                <a href="@Url.Action("Login","Home")">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <!--offcanvas menu area end-->

    <nav class="navbar fixed-bottom navbar-light bg-mobile-nav d-sm-block d-md-none">
            <div class="mobile-nav container-fluid">
                <div class="mobile-nav"><a href="#"><img src="~/assets/img/icon/facebook-bg.jpg" title="Home" /><img class="moicon-img" src="~/assets/img/icon/mob-icon-home.png" width="30" /></a></div>
                <div class="mobile-nav"><a href="#"><img src="~/assets/img/icon/facebook-bg.jpg" title="Wallet" /><img class="moicon-img wallet" src="~/assets/img/icon/mob-icon-wallet.png" /></a></div>
                <div class="mobile-nav"><a href="#"><img src="~/assets/img/icon/facebook-bg.jpg" title="Win" /><img class="moicon-img win" src="~/assets/img/icon/mob-icon-win.png" /></a></div>
                <div class="mobile-nav"><a href="#"><img src="~/assets/img/icon/facebook-bg.jpg" title="My Account" /><img class="moicon-img" src="~/assets/img/icon/mob-icon-myaccount.png" width="30" /></a></div>
            </div>
    </nav>
    <!-- //header -->
    <div>
        @RenderBody()
        <!-- footer -->

    </div>
    <!-- page wrapper end -->
    <!--footer area start-->
    <footer class="footer_widgets mt-5">
        <div class="main_footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="main_footer_inner d-flex">
                            <div class="footer_widget_list">
                                <div class="footer_logo">
                                    <a href="#"><img aria-label="logo" width="215" height="79" src="~/assets/img/logo/logo.jpg" alt=""></a>
                                </div>
                                <div class="footer_contact_desc">
                                    <p>
                                        It long estabhed fact that reader
                                        will ditracted the readable content
                                        looking using readable.
                                    </p>
                                </div>
                                <div class="footer_social">
                                    <ul class="d-flex">
                                        <li><a aria-label="facebook" class="facebook" href="https://www.facebook.com/"><i class="icofont-facebook"></i></a></li>
                                        <li><a aria-label="dribble" class="dribbble" href="https://dribbble.com/"><i class="icofont-dribbble"></i></a></li>
                                        <li><a aria-label="youtube" class="youtube" href="https://www.youtube.com/"><i class="icofont-youtube-play"></i></a></li>
                                        <li><a aria-label="twitter" class="twitter" href="https://twitter.com/"><i class="icofont-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_widget_list contact">
                                <h3>Contact</h3>
                                <div class="footer_contact_info">
                                    <div class="footer_contact_info_list">
                                        <span>Location:</span>
                                        <p>
                                            X Y Z,  1st Floor,
                                            Lucknow
                                        </p>
                                    </div>
                                    <div class="footer_contact_info_list">
                                        <span>Phone:</span>
                                        <p><a href="#">00 (62) 632 867 4497</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer_widget_list">
                                <h3>today’s winners</h3>
                                <div class="footer_winners_gallery">
                                    <div class="footer_winners_list d-flex">
                                        <div class="footer_winners_thumb">
                                            <a href="game-details.html"><img aria-label="game-team" width="75" height="75" src="~/assets/img/others/winners1.jpg" alt=""></a>
                                        </div>
                                        <div class="footer_winners_thumb">
                                            <a href="game-details.html"><img aria-label="game-team" width="75" height="75" src="~/assets/img/others/winners2.jpg" alt=""></a>
                                        </div>
                                        <div class="footer_winners_thumb">
                                            <a href="game-details.html"><img aria-label="game-team" width="75" height="75" src="~/assets/img/others/winners3.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="footer_winners_list d-flex">
                                        <div class="footer_winners_thumb">
                                            <a href="game-details.html"><img aria-label="game-team" width="75" height="75" src="~/assets/img/others/winners4.jpg" alt=""></a>
                                        </div>
                                        <div class="footer_winners_thumb">
                                            <a href="game-details.html"><img aria-label="game-team" width="75" height="75" src="~/assets/img/others/winners5.jpg" alt=""></a>
                                        </div>
                                        <div class="footer_winners_thumb">
                                            <a href="game-details.html"><img aria-label="game-team" width="75" height="75" src="~/assets/img/others/winners6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer_widget_list footer_list_menu">
                                <h3>Content</h3>
                                <div class="footer_menu">
                                    <ul>
                                        <li><a href="#"> Copywriting</a></li>
                                        <li><a href="#">Social Media</a></li>
                                        <li><a href="#">Interactive Media</a></li>
                                        <li><a href="#">Motion Design</a></li>
                                        <li><a href="#">Illustration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_bottom_inner d-flex justify-content-between">
                            <div class="copyright_right">
                                <p> © 2020  OMMIPL  Made with  <i class="icofont-heart"></i>  by <a href="#">Afluex</a></p>
                            </div>
                            <div class="footer_bottom_link_menu">
                                <ul class="d-flex">
                                    <li><a href="#">Terms & Condition  </a></li>
                                    <li><a href="#">Privacy Policy  </a></li>
                                </ul>
                            </div>

                            <div class="scroll__top_icon" style="z-index: 9999;">
                                <a id="scroll-top" href="#"><img aria-label="scroll-top" width="46" height="40" src="~/assets/img/icon/scroll-top.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    <!-- JS
    ============================================ -->
    <!--modernizr min js here-->
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/assets/js/vendor/popper.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/jquery-waypoints.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


</body>
</html>
