@model OMMIPL.Models.Home
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<style>
    .form_textarea textarea{
        height: 150px;
        /*overflow-y: hidden;*/
    }
</style>
<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-140" data-bgimg="../assets/img/bg/breadcrumbs-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs_text text-center">
                    <h1>signup</h1>
                    <ul class="d-flex justify-content-center">
                        <li><a href="index.html">Home </a></li>
                        <li> <span>//</span></li>
                        <li>  PAGES</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs area end -->
<!-- page wrapper start -->
<div class="page_wrapper">

    <!-- contact section start -->
    <section class="contact_page_section mb-140">
        <div class="container">
            <div class="row justify-content-between align-items-center mb-n50">
                <div class="col-lg-4 col-md-8 col-12 mx-auto mb-50">
                    <img width="550" height="550" src="~/assets/img/others/about-thumb.jpg" alt="">
                </div>
                    <div class="col-lg-7 col-md-8 col-12 mx-auto mb-50">
@using (Html.BeginForm("RegistrationAction", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form1" }))
{
                        <div class="contact_form_inner">
                            <span style="color:red">@TempData["Msg"]</span>
                            <form id="contact-form" action="/Home/RegistrationAction">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.SponsorLoginId, new { @class = "input__field", @placeholder = "Invited Id", @onchange = "getsponsordetails(this);" })
                                            @Html.HiddenFor(m => m.FK_SponsorId)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "input__field", @placeholder = "Invited By", @disabled = "true" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "input__field", @placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "input__field", @placeholder = "Last Name" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "input__field", @placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return isNumberKey(event);", })
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "input__field", @placeholder = "Email" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "input__field", @placeholder = "Password", @type = "Password" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input__field", @placeholder = "Confim Password", @type = "Password", @onblur = "return validateConfPassword();" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.PinCode, new { @class = "input__field", @placeholder = "Pin Code", @onchange = "return getstatecity();" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.City, new { @class = "input__field", @placeholder = "City" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_input">
                                            @Html.TextBoxFor(m => m.State, new { @class = "input__field", @placeholder = "State" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form_textarea">
                                            @Html.TextAreaFor(m => m.Address, new { @class = "input__field", @placeholder = "Enter Address" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form_input_btn text-center">
                                    <button type="submit" class="btn btn-link">SUBMIT <img width="20" height="20" src="~/assets/img/icon/arrrow-icon.jpg" alt=""></button>
                                </div>
                                <p class="form-message" style="color:red">@TempData["Msg"]</p>

                            </form>
                        </div>
}
                    </div>
            </div>
        </div>
    </section>
    <!-- contact section end -->

</div>
<!-- page wrapper end -->
<script>
    function getsponsordetails(obj) {
        $(".errortext").removeClass("errortext");
        $.ajax({
            url: '/Home/GetSponsorDetails',
            type: 'GET',
            dataType: 'JSON',
            data: { 'LoginId': $(obj).val() },
            success: function (response) {
                if (response.Result == "Yes") {
                    $('#SponsorName').val(response.DisplayName);
                    $('#FK_SponsorId').val(response.FK_SponsorId);
                }
                else {
                    $("#SponsorLoginId").addClass('errortext');
                    $('#SponsorName').val('');
                    $('#FK_SponsorId').val('');
                    $('#SponsorLoginId').focus();
                    alert(response.Result);
                }
            }
        })
    }
    function getstatecity() {
        $(".errortext").removeClass("errortext");
        $.ajax({
            url: "/Home/GetStateCity",
            Type: "Get",
            DataType: "JSON",
            data: { PinCode: $("#PinCode").val() },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                }
                else {
                    $("#State").val('');
                    $("#City").val('');
                    $("#PinCode").val('');
                    $("#PinCode").addClass('errortext');
                    $('#PinCode').focus();
                }
            }
        });
    }
    function validateConfPassword() {
        var password = $('#Password').val();
        var ConfirmPassword = $('#ConfirmPassword').val();
        if (password != ConfirmPassword) {
            $("#Password").addClass('errortext');
            $("#ConfirmPassword").addClass('errortext');
            $('#Password').val('');
            $('#ConfirmPassword').val('');
            alert("Password and Confirm Password are different")
            return false;
        }
    }
    function ValidateForm() {
        $(".errortext").removeClass("errortext");
        if ($('#SponsorLoginId').val() == '0') {
            $("#SponsorLoginId").addClass('errortext');
            $('#SponsorLoginId').focus();
            return false;
        }
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#MobileNo').val() == '') {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $('#ConfirmPassword').focus();
            return false;
        }
        if ($('#PinCode').val() == '') {
            $("#PinCode").addClass('errortext');
            $('#PinCode').focus();
            return false;
        }
        return true;
    }
</script>