@model OMMIPL.Models.Admin
@{
    ViewBag.Title = "E_WalletReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="mail" id="mail">
    <div class="container">
        <div class="w3_mail_grids">
            @using (Html.BeginForm("E_WalletReport", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form1" }))
            {
                <div class="row">
                    <p style="color:red;">
                        @TempData["Game"]
                    </p><br />
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                        </div>
                        @*<div class="col-sm-2">
                            <a href="/User/EwalletRequest" class="btn btn-info" style="border-radius:100px;background-color:#fa3d03;">Add New</a>
                        </div>*@
                    </div>
                    @*<div class="row">
                            <div class="col-md-4 w3_agile_mail_grid">
                                <label>Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "input__field", @placeholder = "Game Name" })
                            </div>
                            <div class="col-md-4 w3_agile_mail_grid">
                                <input type="submit" value="Search" style="margin-top:25px;" class="btn btn-success" />
                            </div>
                        </div>
                        <br /><br />*@
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-md" data-page-length='25' id="tableExport" style="width:100%;">
                            <thead>
                                <tr style="text-align:center;">
                                    <th>S No.</th>
                                    <th>LoginID</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    @*<th>Bank Name</th>
                                    <th>Image URL</th>
                                    <th>Bank Branch</th>*@
                                    <th>Transaction No</th>
                                    <th>Transaction  Date</th>
                                  
                                    <th colspan="2" align="center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstReports != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstReports)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@Item.LoginID</td>
                                                <td>@Item.Name</td>
                                                <td>@Item.Amount</td>
                                                <td>@Item.PaymentMode</td>
                                                @*<td>@Item.BankName</td>
                                                <td>@Item.BankBranch</td>*@
                                                <td>@Item.DDChequeNo</td>
                                                <td>@Item.DDChequeDate</td>
                                                @*@if (Item.Image != "" && Item.Image != null)
                                                {
                                                    <td>
                                                        <img src="@Item.Image" height="100" width="100" />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }*@
                                                @if (Item.Status == "Approved" || Item.Status == "Declined")
                                                {
                                                    <td> </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a href="/Admin/EWalletRequestDeclineApprove?Id=@Item.RequestId&status=Approved" class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to Approve this record?')">Approve</a>
                                                    </td>
                                                    <td>
                                                        <a href="/Admin/EWalletRequestDeclineApprove?Id=@Item.RequestId&status=Decline" class="btn btn-warning btn-sm" onclick="return confirm('Are you sure you want to decline this record?')">Decline</a>
                                                    </td>
                                                }



                                                @*<td>
                                                        <a href="/Admin/Delete?Id=@Item.RequestId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
                                                    </td>*@
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        $('#tableExport').after('<div id="nav"></div>');
        var rowsShown = 10;
        var rowsTotal = $('#tableExport tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#tableExport tbody tr').hide();
        $('#tableExport tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#tableExport tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
            css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });
</script>