@model OMMIPL.Models.Admin
@{
    ViewBag.Title = "GameReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="mail" id="mail">
    <div class="container">
        <div class="w3_mail_grids">
            @using (Html.BeginForm("GameReport", " Wallet", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form1" }))
            {
                <div class="row">
                    <div class="col-md-4 w3_agile_mail_grid">
                        <div class="mb-3">
                            <label class="mb-1 text-white fs-14">LoginID </label>
                            @Html.TextBoxFor(m => m.LoginID, new { @class = "input__field", @placeholder = "LoginID", })
                        </div>
                    </div>
                    <div class="col-md-4 w3_agile_mail_grid">
                        <div class="mb-3">
                            <label class="mb-1 text-white fs-14">Status</label>
                           <select id="ddlstatus" class="input__field">
                               <option value="0">Select</option>
                               <option value="1">Win</option>
                               <option value="2">Lose</option>
                           </select>
                        </div>
                    </div>
                    <div class="col-md-4 w3_agile_mail_grid">
                        <div class="mb-3">
                            <label class="mb-1 text-white fs-14"></label>
                            <input type="submit" name="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p style="color:red;">
                        @TempData["ladger"]
                    </p><br />
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                        </div>
                        @*<div class="col-sm-2">
                                <a href="/User/EwalletRequest" class="btn btn-info" style="border-radius:100px;background-color:#fa3d03;"> Add New</a>
                            </div>*@
                    </div>

                    @*<div class="table-responsive">
                        <table class="table table-bordered table-striped table-md" data-page-length='25' id="tableExport" style="width:100%;">
                            <thead>
                                <tr style="text-align:center;">
                                    <th>S No.</th>
                                    <th>Credit Amount</th>
                                    <th>Debit Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            @*<tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstLedget != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstLedget)
                                        {
                                            <tr>
                                                <td>@i</td>

                                                <td>@Item.CreditAmount</td>
                                                <td>@Item.DebitAmount</td>
                                                <td>@Item.Date</td>


                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>*@
                </div>
            }
        </div>
    </div>
</div>

