@model OMMIPL.Models.User

@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .card.balance {
        min-height: 250px !important;
        background-image: linear-gradient(to right, #70b3e0, #0861a7);
        color: black;
        border-radius: 15px;
        margin-bottom: 25px;
    }

    .row.dashboard {
        padding: 20px 3% !important;
    }

    ul.nav.nav-tabs.nav-justified li.dash-nav {
        font-size: 22px;
        font-weight: 700;
        background-color: #f2be0175;
    }

    .nav-tabs > li.dash-nav.active > a, .nav-tabs > li.dash-nav.active > a:hover, .nav-tabs > li.dash-nav.active > a:focus {
        background-color: #ebd175;
    }

    .nav > li.dash-nav > a:hover, .nav > li.dash-nav > a:focus {
        background-color: #ebd175;
    }

    .btn-lg.jackpot-btn {
        margin: 5px;
    }

    .btn-block {
        border-radius: 18px;
    }

    .grid.jackpot10 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .d-flex {
        display: flex;
    }

    .btn-more {
        margin-left: auto;
        background-color: #fd6204;
        color: white;
    }

    .modal-content.color-content {
        padding: 0px 20px;
    }

    .modal-header.color {
        padding: 10px 30px 0px 30px;
    }

    .modal-content.color-content h4 {
        color: #333333;
        font-size: 25px;
        font-weight: 700;
    }

    span.input.right {
        display: flex;
        justify-content: space-between;
    }

    .modal-dialog.color {
        width: 400PX;
    }

    .col-sm-12.submit {
        text-align: end;
    }

    .modal-header .close {
        position: absolute;
        right: 15px;
    }

    .close:hover, .close:focus {
        color: #000;
        background-color: #7a7777;
        padding: 1px 4px;
        border-radius: 50%;
    }

    .tableFixHead {
        overflow: auto;
        height: 480px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    .head-color thead th {
        background-color: #f9e18a;
    }
</style>
<!-- gallery -->
<div class="team-bottom" id="work">
    <div class="container-fluid">
        @*<h3 class="w3l_head w3l_head1">Latest Gallery</h3>
            <p class="w3ls_head_para w3ls_head_para1">Lorem Ipsum Dolor</p>*@
        <div class="row dashboard">
            <div class="col-md-4">
                <div class="card balance" id="divCounter">
                    <div class="card-body">
                        <div class="body-layout">
                            <div class="body-contant">
                                <h2 class="card-title main balance">Main Balance</h2>
                                <span class="card-detail">₹ @ViewBag.MainBalance</span>
                                <h2 class="card-title main period">Period</h2>
                                <span class="card-detail" id="spPeriodNo">@Model.PeriodNo</span>
                                <input type="hidden" id="hdfPeriodId" />
                                <input type="hidden" id="hdfGameId" value="@Model.FK_GameId" />
                                <input type="hidden" value="@Model.Duration" id="hdfDuration" />
                                <input type="hidden" value="@Model.EndTime" id="hdfEndTime" />
                                <input type="hidden" value="@Model.StartTime" id="hdfStartTime" />
                            </div>
                            <div class="body-color text-center" style="background-color:@Model.ColorName">
                                @if (Model != null)
                                {
                                    string text = "";
                                    if (Model.ColorName == "Red")
                                    {
                                        text = "R";
                                    }
                                    else if (Model.ColorName == "Green")
                                    {
                                        text = "G";
                                    }
                                    else if (Model.ColorName == "Blue")
                                    {
                                        text = "B";
                                    }
                                    <div class="color-symbol"><span id="spColor">@text</span></div>
                                }

                                <div class="time-counter"><span class="digit" style="display:none"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="w3layouts_gallery_grids">
                    <ul class="nav nav-tabs nav-justified ">
                        @if (Model != null)
                        {
                            if (Model.lst != null)
                            {
                                int i = 1;
                                foreach (var item in Model.lst)
                                {
                                    var href = "#menu" + i;
                                    <li class="dash-nav"><a data-toggle="tab" href="@href" onclick="return GameDetailsById();">@item.GameName</a></li>
                                    i++;
                                }
                            }
                        }
                    </ul>
                    <div class="card first-view">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 40px; font-weight: 600; text-align: center; margin: 50px;">Welcome To <span style="color: #e8a201;">OMMIPL</span> <i class="fa fa-trophy" aria-hidden="true" style="font-size: 100px; color: #e8a201;"></i></h5>
                        </div>
                    </div>
                    <div class="tab-content game-view" style="display: none;">
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog color">
                                <div class="modal-content color-content">
                                    <div class="modal-header color">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Submit Prediction</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/User/SubmitPrediction" type="Post">
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <span class="input right">
                                                        <label>Color</label>
                                                        <button type="button" class="btn btn-red btn-md jackpot-btn" id="btnColor">R</button>
                                                        @Html.HiddenFor(m => m.FK_ColorId, new { @class = "form-control" })
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3">
                                                    <label><span>Amount</span><span class="text-red">*</span></label>
                                                </div>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-12 submit">
                                                    <button type="button" id="btnSubmit" class="btn btn-success" onclick="return SubmitPrediction();">Submit</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade in active">
                            <div class="card">
                                <div class="row">
                                    @if (Model != null)
                                    {
                                        if (Model.lstColor != null)
                                        {
                                            foreach (var item in Model.lstColor)
                                            {
                                                <div class="col-md-4"><button type="button" class="btn btn-@item.ColorName.ToLower() btn-block" value="@item.FK_ColorId" onclick="return SetPrediction(@item.FK_ColorId);" data-toggle="modal">@item.ColorName</button></div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <h3 class="card-title">Your Predition Record Colour-X3</h3>
                                        <button type="button" class="btn btn-md btn-more">More</button>
                                    </div>
                                    <hr />
                                    <div class="table-responsive tableFixHead head-color">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Period</th>
                                                    <th>Colour</th>
                                                    <th class="text-center">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lst != null)
                                                    {
                                                        foreach (var item in Model.lstPrediction)
                                                        {
                                                            <tr>
                                                                <td>@item.PeriodNo</td>
                                                                <td class="text-@item.ColorName.ToLower()">@item.ColorName</td>
                                                                <td class="text-center">@item.Amount</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <h3 class="card-title">Record Colour-X3</h3>
                                        <button type="button" class="btn btn-md btn-more">More</button>
                                    </div>
                                    <hr />
                                    <div class="table-responsive tableFixHead head-color">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Period</th>
                                                    <th>Colour</th>
                                                    <th class="text-center">Result</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lst != null)
                                                    {
                                                        foreach (var item in Model.lstResult)
                                                        {
                                                            <tr>
                                                                <td>@item.PeriodNo</td>
                                                                <td class="text-@item.ColorName.ToLower()">@item.ColorName</td>
                                                                <td class="text-center"><button type="button" class="btn btn-@item.ResultantColor.ToLower() btn-lg">@item.ResultantColor</button></td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <div class="card">
                                <div class="grid jackpot10 text-center ">
                                    <div class="grid-item"><button type="button" class="btn btn-green btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(0);">0</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-red btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(1);">1</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-blue btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(2);">2</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-green btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(3);">3</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-red btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(4);">4</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-blue btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(5);">5</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-green btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(6);">6</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-red btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(7);">7</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-blue btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(8);">8</button></div>
                                    <div class="grid-item"><button type="button" class="btn btn-green btn-lg jackpot-btn" data-toggle="modal" onclick="return SetPrediction(9);">9</button></div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <h3 class="card-title">Your Predition Record Jackpot X10</h3>
                                        <button type="button" class="btn btn-md btn-more">More</button>
                                    </div>
                                    <hr />
                                    <div class="table-responsive head-color">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Period</th>
                                                    <th>Number</th>
                                                    <th class="text-center">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2021122298</td>
                                                    <td>8</td>
                                                    <td class="text-center"><button type="button" class="btn btn-red btn-lg">8</button></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <h3 class="card-title">Record Colour X10</h3>
                                            <button type="button" class="btn btn-md btn-more">More</button>
                                        </div>
                                        <hr />
                                        <div class="table-responsive tableFixHead head-color">
                                            <table class="table table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Period</th>
                                                        <th>Number</th>
                                                        <th class="text-center">Result</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2021122299</td>
                                                        <td class="text-green">3</td>
                                                        <td class="text-center"><button type="button" class="btn btn-blue btn-lg">3</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2021122298</td>
                                                        <td class="text-green">2</td>
                                                        <td class="text-center"><button type="button" class="btn btn-blue btn-lg">5</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2021122297</td>
                                                        <td class="text-green">8</td>
                                                        <td class="text-center"><button type="button" class="btn btn-blue btn-lg">2</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2021122296</td>
                                                        <td class="text-green">5</td>
                                                        <td class="text-center"><button type="button" class="btn btn-red btn-lg">0</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2021122297</td>
                                                        <td class="text-green">7</td>
                                                        <td class="text-center"><button type="button" class="btn btn-blue btn-lg">6</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2021122295</td>
                                                        <td class="text-green">0</td>
                                                        <td class="text-center"><button type="button" class="btn btn-green btn-lg">7</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" style="color: red; font-size: 32px; font-weight: 600; text-align: center; margin: 50px;">!! Coming Soon <i class="fa fa-bullhorn" aria-hidden="true" style="font-size: 100px;"></i></h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dash-nav").click(function () {
                $(".digit").show();
                $(".first-view").hide();
                $(".game-view").show();
            });
        });
    </script>
    <script>
        var minutes = 0;
        var seconds = 0;
        var ColorId = "";
        function GameDetailsById() {
            debugger;
          //  $("#hdfGameId").val(GameId);
            $.ajax({
                url: "/User/GameDetailsById",
                type: "Get",
                datatype: "Json",
                data: { GameId: GameId },
                success: function (response) {
                    debugger;
                    if (response != null) {
                        $("#spPeriodNo").text(response.PeriodNo);
                        $("#hdfStartTime").val(response.StartTime);
                        $("#hdfEndTime").val(response.EndTime);
                        //$(".digit").val(response.response);
                        $("#hdfDuration").val(response.Duration);
                        $("#hdfPeriodId").val(response.FK_PeriodId);
                        var timer2 = $("#hdfDuration").val();
                        timer2 = timer2 + ":00";
                        var interval = setInterval(function () {
                            var timer = timer2.split(':');
                            minutes = parseInt(timer[0], 10);
                            seconds = parseInt(timer[1], 10);
                            --seconds;
                            minutes = (seconds < 0) ? --minutes : minutes;
                            if (minutes < 0) {
                                clearInterval(interval);
                            }
                            seconds = (seconds < 0) ? 59 : seconds;
                            seconds = (seconds < 10) ? '0' + seconds : seconds;
                            if (minutes == 0 && seconds == 0) {
                                clearInterval(interval);
                            }
                            $('.digit').html(minutes + ':' + seconds);
                            timer2 = minutes + ':' + seconds;
                        }, 1000);
                    }
                }
            });
        }



        function SetPrediction(ColorId) {
            debugger;
            if (minutes == 0 && seconds < 30) {
                $('#myModal').modal('hide');
                alert("Your game time is over.")
            }
            else {
                $('#myModal').modal('show');
                if ($("#hdfGameId").val() == "7")
                {
                    if (ColorId == 1) {
                        $("#btnColor").attr("style", "background-color:red");
                        $("#btnColor").text("R");
                        $("#FK_ColorId").val(ColorId);
                    }
                    else if (ColorId == 2) {
                        $("#btnColor").attr("style", "background-color:green");
                        $("#btnColor").text("G");
                        $("#FK_ColorId").val(ColorId);
                    }
                    else if (ColorId == 3) {
                        $("#btnColor").attr("style", "background-color:blue");
                        $("#btnColor").text("B");
                        $("#FK_ColorId").val(ColorId);
                    }
                    else {
                    }
                }
                else if ($("#hdfGameId").val() == "8") {
                    $("#btnColor").text(ColorId);
                    $("#FK_ColorId").val(ColorId);
                }
                else {
                }
            }
        }
        
        function SubmitPrediction() {
            debugger;
            $.ajax({
                url: "/User/GameStart",
                type: "Get",
                datatype: "Json",
                data: { GameId: $("#hdfGameId").val(), ColorId: $("#FK_ColorId").val(), Amount: $("#Amount").val(), PeriodId: $("#hdfPeriodId").val(), },
                success: function (response) {
                    debugger;
                    if (response != null) {
                        if (response.Message == "1") {
                            var start = Date.parse($("#hdfStartTime").val());
                            var end = Date.parse(response.EndTime); 
                            var diff = end - start;
                            setTimeout(function () {
                                if (response.Result == "Yes") {
                                    alert("Congrats! You won.");
                                }
                                else {
                                    alert("Oops! You lose.");
                                }
                                if (response.FK_ColorId == "1") {
                                    $("#spColor").text("R");
                                    $(".body-color").attr("style", "background-color: red;");
                                }
                                else if (response.FK_ColorId == "2") {
                                    $("#spColor").text("G");
                                    $(".body-color").attr("style", "background-color: green;");
                                }
                                else if (response.FK_ColorId == "3") {
                                    $("#spColor").text("B");
                                    $(".body-color").attr("style", "background-color: blue;");
                                }
                                else { }
                            }, diff);
                            $('#myModal').modal('hide');
                        }
                        else { 
                            alert(response.Result);
                            $('#myModal').modal('hide');
                        }
                    }
                }

            });
        }
        function changeColor() {
            if (seconds <= 300 && seconds > 90) {
                document.body.style.background = "green";
            }

            else if (seconds <= 90 && seconds > 30) {
                document.body.style.background = "yellow";
            }

            else {
                document.body.style.background = "red";
            }
        }
    </script>

    @*<script type="text/javascript">
        if (sessionStorage.getItem("hdfStartTime")) {
            if (sessionStorage.getItem("hdfStartTime") >= hdfEndTime) {
        var value = 0;
      } else {
                var value = sessionStorage.getItem("hdfStartTime");
      }
    } else {
      var value = 0;
    }
        document.getElementById('hdfDuration').innerHTML = value;

    var counter = function () {
      if (value >= 10) {
          sessionStorage.setItem("hdfStartTime", hdfEndTime);
        value = 0;
      } else {
        value = parseInt(value) + 1;
        sessionStorage.setItem("hdfStartTime", value);
      }
      document.getElementById('hdfDuration').innerHTML = value;
    };

    var interval = setInterval(hdfStartTimes, 1000);
    </script>*@
    <!-- //gallery -->
